<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings />
    <connectionStrings />

    <system.web>
        <customErrors mode="Off" />
    </system.web>

    <system.webServer>
    
        <httpCompression minFileSizeForComp="1024">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/x-javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/*" enabled="true" />
                <add mimeType="application/x-javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>
    
        <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="false" />

        <staticContent>
            <!-- Set expire headers to 30 days for static content -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
            <!-- use utf-8 encoding for anything served text/plain or text/html -->
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".rss" />
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
            <remove fileExtension=".html" />
            <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
            <remove fileExtension=".xml" />
            <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
            <!-- HTML5 Audio/Video mime types-->
            <remove fileExtension=".mp3" />
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
            <remove fileExtension=".mp4" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <remove fileExtension=".ogg" />
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
            <remove fileExtension=".ogv" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
            <remove fileExtension=".webm" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <!-- Proper svg serving. Required for svg webfonts on iPad -->
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <remove fileExtension=".svgz" />
            <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
            <!-- HTML4 Web font mime types -->
            <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
            <remove fileExtension=".eot" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
            <remove fileExtension=".ttc" />
            <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <remove fileExtension=".crx" />
            <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
            <remove fileExtension=".xpi" />
            <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
            <remove fileExtension=".safariextz" />
            <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
            <!-- Flash Video mime types-->
            <remove fileExtension=".flv" />
            <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
            <remove fileExtension=".f4v" />
            <mimeMap fileExtension=".f4v" mimeType="video/mp4" />
            <!-- Asorted types -->
            <remove fileExtension=".ico" />
            <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
            <remove fileExtension=".webp" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <remove fileExtension=".appcache" />
            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
            <remove fileExtension=".manifest" />
            <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
            <remove fileExtension=".htc" />
            <mimeMap fileExtension=".htc" mimeType="text/x-component" />
            <remove fileExtension=".crx" />
            <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
            <remove fileExtension=".xpi" />
            <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
            <remove fileExtension=".safariextz" />
            <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
            <remove fileExtension=".vcf" />
            <mimeMap fileExtension=".vcf" mimeType="text/x-vcard" />
        </staticContent>

        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    
        <rewrite>
            
            <outboundRules>
                <rule name="Rewrite SVGZ header" preCondition="IsSVGZ" stopProcessing="true">
                    <match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
                    <action type="Rewrite" value="gzip" />
                </rule>
                <preConditions>
                    <preCondition name="IsSVGZ">
                        <add input="{PATH_INFO}" pattern="\.svgz$" />
                    </preCondition>
                </preConditions>
            </outboundRules>

            <rules>
            
                <rule name="app-cache" stopProcessing="true">
                    <match url="(app\.appcache)$" ignoreCase="false" />
                    <action type="Rewrite" url="app-cache.cfm" />
                </rule>
                
                <rule name="Built-in filename-based cache busting" stopProcessing="true">
                    <match url="^(.+)\.(\d+)\.(js|css|png|jpg|gif)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.{R:3}" />
                </rule>

                <rule name="Pass Thru Paths" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/(.*(model|CFIDE|cfide|CFFormGateway|jrunscripts|railo-context|fckeditor|flashservices|flex2gateway|flex-remoting)).*$" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>

                <!-- This requires all our request which are not to a specific file to include an ending slash -->
                <rule name="Require Ending Slash" stopProcessing="true">
                    <match url="(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="(.*)/$" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="(.*)\.(html|cfm|cfml|js|css|png|jpg|gif)$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{URL}/" redirectType="Permanent" />
                </rule>

                <rule name="Catch-All" stopProcessing="true">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="./{R:1}.cfm" />
                </rule>

            </rules>
        </rewrite>
    
    </system.webServer>
    
</configuration>